<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Category</a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="nav navbar-nav navbar-right">
              <li><a type="button" class="btn " data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus">AddNew </span> </a></li>
            </ul>
        </div>
    </div>
  </nav>
  <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add New Category</h4>
          <button type="button" class="close" data-dismiss="modal"  #closeAddExpenseModal>&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form action="" #form="ngForm" >
              <div class="container">
                  <div class="row">
                    <div class="col-md-2">
                      <h5>Category ID</h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <input [(ngModel)]="newId" id="newId" name="newId" type="text" class="form-control" minlength="4" required>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      <h5>Category Name</h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <input [(ngModel)]="newName" name="newName" type="text" minlength="4" class="form-control" required>
                    </div>
                  </div>
              </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn  btn-success" (click)="addCategory()"  [disabled]="form.invalid">Add</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>sr</th>
          <th>Category Id</th>
          <th>Category Name</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let x of category;let i= index">
            <td>{{i+1}}</td>
            <td>{{x?.id}}</td>
            <td>{{x?.name }}</td>
            <td>
                <button type="button" class="btn btn-sm btn-danger" (click)="dltCat(x?.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
  
  </div>